.spinner(
  @size: 150px,
  @thickness: 15px,
  @color: rgba(238, 73, 19, .15),
  @highlight-color: rgba(238, 73, 19, .8),
  @duration: .6s,
  @animation-name: spin
) {
  height: @size;
  width: @size;
  margin: 0px auto;
  position: relative;
  border-left: @thickness solid @color;
  border-right: @thickness solid @color;
  border-bottom: @thickness solid @color;
  border-top: @thickness solid @highlight-color;
  border-radius: 100%;

  -webkit-animation: @animation-name @duration infinite linear;
  -moz-animation: @animation-name @duration infinite linear;
  -o-animation: @animation-name @duration infinite linear;
  animation: @animation-name @duration infinite linear;
}
