@import "../_inc";

.project {

  .clearfix();

  .name {
    font-size: @font-size-h4;
    color: @brand-primary;
  }

  .type {
    font-size: @font-size-h5;
  }

  .designed-by {
    font-size: @font-size-h5;
    float: right;
  }

  &--compact {

  }

  mark,
  .mark {
    color: @state-info-text;
    background-color: @state-info-bg;
    padding: 0;

    > mark,
    > .mark {
      font-weight: 700;
      color: darken(@state-info-text, 10%);
      background-color: darken(@state-info-bg, 10%);
    }
  }

}
