<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="x-form-group">
        <input class="form-control input-lg"
               type="text"
               name="searchQuery"
               ng-model="query"
               placeholder="Search"/>
      </div>


      <div ng-show="projects.loading">
        <div class="loading-spinner x-loading-spinner--center">
          <!--Loading...-->
        </div>
      </div>

      <div ng-hide="projects.loading || !query">
        <div class="alert alert-danger" ng-show="projects.isFailed()">Error occurred while getting Projects list</div>
        <div class="alert alert-danger" ng-show="projects.isSuccess() && !projects.data.length">There is no Projects
          Yet
        </div>

        <div class="projects-list">

          <project-compact ng-repeat="project in projects.data" project="project"></project-compact>

        </div>

      </div>

    </div>
  </div>

</div>
