<div class="project project--compact">
  <div class="name" ng-bind-html="project.Name"></div>
  <div class="type"><label>Type: </label><span ng-bind-html="project.Type"></span></div>
  <div class="designed-by"><small ng-bind-html="project['Designed by']"></small></div>
</div>
